// <--------- Projects --------->
@use "../../../styles/var.scss" as var;
.page_wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: calc(100% - 97px);
  @media screen and (max-width: 768px) {
    height: calc(100% - 69px);
  }
  > div {
    height: 100%;
  }
  .project_page {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    .projects {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-bottom: var.$defaultPadding;
      @media screen and (max-width: 768px) {
        padding-bottom: 1.75rem;
      }
    }
  }
}
