// <--------- Projects --------->
@use "../../../styles/var.scss" as var;

.page_wrapper {
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 1280px) {
    min-height: calc(var(--vh) - calc(var.$defaultHeight + 10rem));
  }
  @media screen and (max-width: 768px) {
    min-height: calc(var(--vh) - calc(var.$defaultHeight + 7rem));
  }

  .project_container {
    display: flex;
    flex-flow: column;
    gap: 0.8rem;

    a {
      width: fit-content;
    }
  }
}
