.content {
  position: relative;
  width: 100%;
  min-height: 800px;
  background-color: var(--dev-bg-2);
  padding: var(--content-nav-padding);
  @media screen and (max-width: 1280px) {
    width: 100vw;
    min-height: calc(100vh - 80px);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
  }

  &::before {
    border-top: var(--border-width) solid var(--border-color);
    border-left: var(--border-width) solid var(--border-color);
    border-top-left-radius: 6px;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }

  &::after {
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    border-bottom-right-radius: 6px;
  }
}