.credits {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-right: 2rem;
  align-items: flex-end;
  background-color: var(--dev-bg-4);
  height: var(--defaultHeight);
}
