.card {
  background-color: var(--card-bg);
  max-width: 250px;

  &_header {
    img {
      width: 100%;
    }
  }

  &_footer {
    .toolset {
      display: flex;

      img {
        max-width: 2rem;
        height: auto;
      }
    }
  }
}

