@use "../../../styles/var.scss" as var;

.icon_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  a {
    height: 32px;
    width: 32px;
    svg {
      height: 30px;
      width: 30px;
      transition: var.$transition;
      cursor: pointer;
      &:hover {
        height: 32px;
        width: 32px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
