@use "../../../styles/var.scss" as var;

.scene {
  height: 150px;
  width: 220px;
  perspective: 220px;

  .card {
    position: relative;
    transition: transform 0.8s;
    transform: translateX(0) rotateY(0deg);
    transform-style: preserve-3d;
    transform-origin: center right;
    h3 {
      padding-top: 0.75rem;
      text-transform: uppercase;
    }
    p {
      padding: 0.75rem 0.75rem;
    }
    h3,
    p {
      user-select: none;
      text-align: center;
    }

    &_face {
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      &_front {
        img {
          height: 150px;
          width: 220px;
        }
      }
      &_back {
        transform: rotateY(180deg);

        .links {
          display: flex;
          justify-content: space-between;
          padding: 0.75rem;
          width: 100%;
          gap: 10px;
          a {
            color: var.$primary;
            transition: var.$transition;
            cursor: pointer;
            &:hover {
              color: var.$primaryHover;
            }
          }
          svg {
            width: 2rem;
            height: 1.8rem;
          }
        }

        .toolset {
          display: flex;
          justify-content: space-evenly;

          .logo_container {
            position: relative;
            display: block;
            i {
              color: var.$primary;
              cursor: pointer;
              position: relative;
              svg {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
            p {
              position: absolute;
              display: none;
              bottom: 0rem;
              opacity: 0;
              left: 50%;
              transform: translate(-50%, 0);
            }
            &:hover {
              p {
                display: block;
                bottom: 1.3rem;
                transition: opacity 200ms ease-out;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &:hover {
    .card {
      transform: translateX(-100%) rotateY(-180deg);
    }
  }
}
