@use "../../../styles/var.scss" as var;
.page_link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  cursor: pointer;
  user-select: none;
  &:not(:first-child) {
    margin-left: 0.5rem;
  }
  color: var.$primary;
  @media (hover: hover) {
    &:hover,
    &:focus {
      color: #fafafa !important;
      background-color: var.$primaryHover;
      svg {
        color: #fafafa !important;
      }
    }
  }
  &:focus {
    z-index: 3;
  }
  &.active {
    z-index: 2;
    color: #fafafa;
    background-color: var.$primary;
  }
  &.disabled {
    color: var.$primaryHover;
    opacity: 0.6;
    pointer-events: none;
  }

  @media screen and (max-width: 500px) {
    &:not(:first-child) {
      margin-left: 0.25rem;
    }
    &:first-child,
    &:last-child {
      font-size: 0.75rem;
    }
    height: 22px;
    width: 22px;
  }

  &.dark {
    color: var.$primaryDark;
    @media (hover: hover) {
      &:hover,
      &:focus {
        color: var.$primaryDark;
        background-color: var.$primaryHoverDark;
      }
    }
    &.active {
      color: var.$primaryDark;
      background-color: var.$primaryHoverDark;
    }
    &.disabled {
      color: var.$primaryHoverDark;
      opacity: 0.5;
    }
  }
}
