@use "../styles/var.scss" as var;
@import "./reset";

body {
  font-family: var.$textFont;
  transform: color 200ms ease-out all;
  svg {
    transition: var.$transition;
  }
  &.light {
    color: var.$primary;
    a:hover {
      color: var.$primaryHover;
    }
    svg {
      color: var.$primary;
      &:hover {
        color: var.$primaryHover;
      }
    }
  }
  &.dark {
    color: var.$primaryDark;
    a:hover {
      color: var.$primaryHoverDark;
    }
    svg {
      color: var.$primaryDark;
      &:hover {
        color: var.$primaryHoverDark;
      }
    }
  }
}

// Fix for 100vh issue on mobile
body,
html {
  max-height: var(--vh);
  height: stretch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var.$headerFont;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 3rem;
  line-height: 3rem;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
h2 {
  font-size: 2rem;
  line-height: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}
h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
h5,
h6 {
  font-size: 1rem;
  line-height: 1rem;
}

@media screen and (max-width: 768px) {
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    line-height: 1rem;
  }
}

p.helper {
  font-size: 0.75rem;
  font-weight: 500;
}
p,
a {
  font-family: var.$textFont;
}

a {
  text-decoration: none;
  transition: var.$transition;
}
