@font-face {
  font-family: "coolvetica condensed rg";
  src: local("coolvetica condensed rg"),
    url("/fonts/coolvetica_condensed_rg.ttf") format("truetype");
}

@font-face {
  font-family: "ClashDisplay";
  src: local("ClashDisplay"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("/fonts/Inter-VariableFont_slnt_wght.ttf") format("truetype");
}
/*<-- Light mode -->*/
/*<-- Fonts -->*/
$headerFont: coolvetica condensed rg;
$logoFont: ClashDisplay;
$textFont: Inter;
/*<-- Color -->*/
$transition: 0.25s ease-out all;
$defaultPadding: 2.5rem;
$pageContentHeight: max(70vh, 700px);
$borderWidth: 0.5rem;
$defaultHeight: 5rem;

/*<-- Light mode -->*/
$primary: #161616;
$primaryHover: #707070;
$borderColor: #425664;

/*<-- Dark mode -->*/
$primaryDark: #fafafa;
$primaryHoverDark: #7a7a7a;
$borderColorDark: #7a7a7a;
