@use "../../../styles/var.scss" as var;

.content_wrapper {
  .top_bar {
    height: var.$defaultHeight;
    display: flex;
    justify-content: space-between;
    padding: 0 var.$defaultPadding;
    @media screen and (max-width: 768px) {
      padding: 0 1.75rem;
    }
  }
  .content {
    position: relative;
    width: min(800px, 100vw);
    height: calc(var.$pageContentHeight - var.$defaultHeight);
    padding: var.$defaultPadding calc(var.$defaultPadding + var.$borderWidth);
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-image: url("../../../assets/lm_bg.png") 30%;
      height: 300px;
      width: 300px;
      @media screen and (max-width: 768px) {
        height: 150px;
        width: 150px;
      }
      @media screen and (max-width: 480px) {
        height: 100px;
        width: 100px;
        @media screen and (max-height: 480px) {
          height: 50px;
          width: 50px;
        }
      }
      pointer-events: none;
    }
    &::before {
      border-top: var.$borderWidth solid transparent;
      border-left: var.$borderWidth solid transparent;
      @media screen and (max-width: 400px) {
        border-top: calc(var.$borderWidth * 0.75) solid transparent;
        border-left: calc(var.$borderWidth * 0.75) solid transparent;
      }
      left: 0;
      top: 0;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
    &::after {
      border-bottom: var.$borderWidth solid transparent;
      border-right: var.$borderWidth solid transparent;
      @media screen and (max-width: 400px) {
        border-bottom: calc(var.$borderWidth * 0.75) solid transparent;
        border-right: calc(var.$borderWidth * 0.75) solid transparent;
      }
      bottom: 0;
      right: 0;
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
    .header {
      padding-bottom: var.$defaultPadding;
      @media screen and (max-width: 768px) {
        padding-bottom: 1.75rem;
      }
    }
    .content_inner {
      height: calc(var.$pageContentHeight - 260px);
    }
    &.pagination {
      .content_inner {
        height: calc(var.$pageContentHeight - 296px);
      }
    }
    @media screen and (max-width: 1280px) {
      width: min(900px, 100vw);
      height: calc(var(--vh) - var.$defaultHeight);
      h1,
      > div {
        opacity: 1;
        transition: var.$transition;
      }
      &.active {
        h1,
        > div {
          opacity: 0;
        }
      }
      .content_inner {
        height: calc(calc(var(--vh) - var.$defaultHeight) - 11rem);
      }
      &.pagination {
        .content_inner {
          height: calc(calc(var(--vh) - var.$defaultHeight) - 13.5rem);
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 1.75rem;
      height: calc(var(--vh) - var.$defaultHeight);
      .content_inner {
        height: calc(calc(var(--vh) - var.$defaultHeight) - 8rem);
      }
      &.pagination {
        .content_inner {
          height: calc(calc(var(--vh) - var.$defaultHeight) - 11rem);
        }
      }
    }
  }
}
