@use "../../../styles/var.scss" as var;

.content_wrapper {
  .top_bar {
    height: var.$defaultHeight;
    display: flex;
    justify-content: space-between;
    padding: 0 var.$defaultPadding;
    @media screen and (max-width: 768px) {
      padding: 0 1.75rem;
    }
  }
  .content {
    position: relative;
    width: min(800px, 100vw);
    height: calc(var.$pageContentHeight - var.$defaultHeight);
    padding: var.$defaultPadding calc(var.$defaultPadding + var.$borderWidth);
    @media screen and (max-width: 768px) {
      padding: 1.75rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-image: url("../../../assets/lm_bg.png") 30%;
      height: 300px;
      width: 300px;
      @media screen and (max-width: 768px) {
        height: 150px;
        width: 150px;
      }
      @media screen and (max-width: 480px) {
        height: 100px;
        width: 100px;
      }
    }
    &::before {
      border-top: var.$borderWidth solid transparent;
      border-left: var.$borderWidth solid transparent;
      left: 0;
      top: 0;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
    &::after {
      border-bottom: var.$borderWidth solid transparent;
      border-right: var.$borderWidth solid transparent;
      bottom: 0;
      right: 0;
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
    .header {
      padding-bottom: var.$defaultPadding;
      @media screen and (max-width: 768px) {
        padding-bottom: 1.75rem;
      }
    }
    @media screen and (max-width: 1280px) {
      width: min(900px, 100vw);
      height: calc(100vh - var.$defaultHeight);
      h1,
      > div {
        opacity: 1;
        transition: var.$transition;
      }
      &.active {
        h1,
        > div {
          opacity: 0;
        }
      }
    }
  }
}
