.pagewrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/lm_bg.png");
  min-height: 100vh;
  width: 100vw;
  .inner_wrapper {
    display: flex;
    gap: min(250px, 5vw);
    height: auto;
    @media screen and (max-width: 1280px) {
      gap: 0;
      width: 100vw;
      min-height: 100vh;
      justify-content: center;
    }
  }
  &.dark {
    background-image: url("../../assets/dm_bg.png");
  }
}
