@use "../../../../../styles/var.scss" as var;

$timing: 1s;

.projectInnerWrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  opacity: 0;
  animation: projectDisplayAnim 1.5s 1 ease-out forwards;
  height: 100%;

  .top {
    display: flex;
    flex-flow: column;
    height: fit-content;

    .header {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 4rem;
      margin-top: -2rem;
      @media screen and (max-width: 768px) {
        margin-top: -1rem;
      }
      @media screen and (max-width: 500px) {
        margin-bottom: 4rem;
      }
      .device:nth-of-type(1),
      .device:nth-of-type(3) {
        position: absolute;
      }
      .device:nth-of-type(1) {
        animation: tabletAnim $timing 1 ease-out 0.5s forwards;
        z-index: 1;
        opacity: 0;
      }
      .device:nth-of-type(2) {
        z-index: 2;
      }
      .device:nth-of-type(3) {
        animation: mobileAnim $timing 1 ease-out 0.5s forwards;
        z-index: 3;
        opacity: 0;
      }

      .desktop {
        border-radius: 5px;
        img {
          border: 0.5rem solid var.$deviceBorder;
          border-bottom: 1rem solid var.$deviceBorder;
          width: 280px;
          height: 172.5px;
          border-radius: 5px;
          @media screen and (max-width: 500px) {
            height: 113px;
            width: 180px;
            border: 0.3rem solid var.$deviceBorder;
            border-bottom: 0.8rem solid var.$deviceBorder;
          }
        }
      }
      .tablet {
        img {
          border: 0.2rem solid var.$deviceBorder;
          border-bottom: 0.9rem solid var.$deviceBorder;
          width: 120px;
          height: 169px;
          border-radius: 3px;
          @media screen and (max-width: 500px) {
            height: 116px;
            width: 80px;
          }
        }
        &::after {
          width: 8px;
          height: 8px;
          background-color: var.$deviceButton;
          bottom: 0.46rem;
        }
      }
      .mobile {
        img {
          border: 0.2rem solid var.$deviceBorder;
          border-bottom: 0.6rem solid var.$deviceBorder;
          width: 60px;
          height: 129px;
          border-radius: 3px;
          @media screen and (max-width: 500px) {
            height: 86px;
            width: 40px;
          }
        }
        &::after {
          width: 6px;
          height: 6px;
          background-color: var.$deviceButton;
          bottom: 0.35rem;
        }
      }
      .tablet,
      .mobile {
        border-radius: 3px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          border-radius: 50%;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
    .toolset {
      display: flex;
      width: min(400px, 80vw);
      align-self: center;
      justify-content: center;
      gap: 1rem;

      .logo_container:nth-of-type(even) {
        animation: iconAnimLeft $timing 1 ease-out 1s forwards;
        opacity: 0;
      }
      .logo_container:nth-of-type(odd) {
        animation: iconAnimRight $timing 1 ease-out 1s forwards;
        opacity: 0;
      }
      .logo_container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          svg {
            width: 1.25rem;
            height: 1.25rem;
          }
        }
        p {
          position: absolute;
          display: none;
          bottom: 0;
          opacity: 0;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &.php {
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        &:hover {
          p {
            display: block;
            bottom: 1.5rem;
            opacity: 1;
            z-index: 100;
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;

    p.helper.desc {
      padding: 1rem 0;
      text-align: center;
    }
    .links {
      display: flex;
      justify-content: space-between;
      padding: 0.75rem;
      width: 200px;
      gap: 10px;
      align-self: center;
      justify-self: flex-end;
      padding-bottom: 1.5rem;
      svg {
        width: 2rem;
        height: 1.8rem;
      }
    }
  }

  @keyframes tabletAnim {
    from {
      transform: translateX(0rem) translateY(0rem);
      opacity: 0;
    }
    to {
      transform: translateX(-10rem) translateY(3rem);
      opacity: 1;
    }
  }
  @keyframes mobileAnim {
    from {
      transform: translateX(0rem) translateY(0rem);
      opacity: 0;
    }
    to {
      transform: translateX(8.5rem) translateY(6rem);
      opacity: 1;
    }
  }
  @keyframes iconAnimLeft {
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes iconAnimRight {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes projectDisplayAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media screen and (max-width: 500px) {
    @keyframes tabletAnim {
      from {
        transform: translateX(0rem) translateY(0rem);
        opacity: 0;
      }
      to {
        transform: translateX(-6rem) translateY(3rem);
        opacity: 1;
      }
    }
    @keyframes mobileAnim {
      from {
        transform: translateX(0rem) translateY(0rem);
        opacity: 0;
      }
      to {
        transform: translateX(6rem) translateY(4rem);
        opacity: 1;
      }
    }
  }

  &.dark {
    .header {
      .desktop {
        img {
          border: 0.5rem solid var.$deviceBorderDark;
          border-bottom: 1rem solid var.$deviceBorderDark;
          @media screen and (max-width: 500px) {
            border: 0.3rem solid var.$deviceBorderDark;
            border-bottom: 0.8rem solid var.$deviceBorderDark;
          }
        }
      }
      .tablet {
        img {
          border: 0.2rem solid var.$deviceBorderDark;
          border-bottom: 0.9rem solid var.$deviceBorderDark;
        }
        &::after {
          background-color: var.$deviceButtonDark;
        }
      }
      .mobile {
        img {
          border: 0.2rem solid var.$deviceBorderDark;
          border-bottom: 0.6rem solid var.$deviceBorderDark;
        }
        &::after {
          background-color: var.$deviceButtonDark;
        }
      }
    }
  }
}
