@use "../../../styles/var.scss" as var;

.nav {
  &_wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    top: var.$defaultHeight;
    height: calc(var.$pageContentHeight - var.$defaultHeight);
    width: min(250px, 100vw);
    padding: var.$defaultPadding;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 150px;
      width: 150px;
      pointer-events: none;
    }
    &::before {
      border-top: var.$borderWidth solid var.$borderColor;
      border-left: var.$borderWidth solid var.$borderColor;
      left: 1rem;
      top: 1rem;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
    &::after {
      border-bottom: var.$borderWidth solid var.$borderColor;
      border-right: var.$borderWidth solid var.$borderColor;
      bottom: 1rem;
      right: 1rem;
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
    @media screen and (max-width: 1280px) {
      position: absolute;
      width: min(900px, 100vw);
      z-index: -10;
      &::before,
      &::after {
        all: unset;
      }
      &.active {
        display: flex;
      }
      .nav_body,
      .nav_footer {
        opacity: 0;
        transition: var.$transition;
        user-select: none;
        pointer-events: none;
      }
      &.active {
        opacity: 1;
        z-index: 1000;
        .nav_body,
        .nav_footer {
          opacity: 1;
          user-select: all;
          pointer-events: all;
        }
      }
      top: var.$defaultHeight;
      height: calc(var(--vh) - var.$defaultHeight);
    }
    &.dark {
      &::before {
        border-top: var.$borderWidth solid var.$borderColorDark;
        border-left: var.$borderWidth solid var.$borderColorDark;
      }
      &::after {
        border-bottom: var.$borderWidth solid var.$borderColorDark;
        border-right: var.$borderWidth solid var.$borderColorDark;
      }
    }
    // Icons
    @media screen and (min-width: 1280px) {
      > div:first-of-type {
        display: none;
      }
    }
    .nav_content {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 100%;
    }
  }
}
