@use "../../../styles/var.scss" as var;

.button {
  position: relative;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    background-color: var.$borderColor;
    width: 50%;
    height: 0.25rem;
    left: 25%;
    bottom: 0;
    transition: 0.25s ease-out all;
    transform: skew(-15deg);
  }
  &:hover {
    &::after {
      width: calc(100% - 1.5rem);
      left: 0.75rem;
      background-color: var.$primaryHover;
    }
    a {
      color: var.$primaryHover;
    }
  }
  &.dark {
    &::after {
      background-color: var.$borderColorDark;
    }
    &:hover {
      &::after {
        background-color: var.$primaryDark;
      }
      a {
        color: var.$primaryHoverDark;
      }
    }
  }
}
