main {
  background-color: var(--dev-bg-4);
  height: 800px;
  width: 820px;
  @media screen and (max-width: 1280px) {
    width: 100vw;
    min-height: 100vh;
  }
  .top_bar_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
  }
}
