nav {
  .nav_wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    background-color: var(--dev-bg-3);
    height: 800px;
    width: 300px;
  }

  .nav_content {
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 150px;
      width: 150px;
      border-top: var(--border-width) solid var(--border-color);
      border-left: var(--border-width) solid var(--border-color);
      left: 0;
      top: 0;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      border-top-left-radius: 6px;
    }
  }

  .nav_menu {
    position: relative;
  }

  .credits {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 150px;
      width: 150px;
      border-right: var(--border-width) solid var(--border-color);
      border-bottom: var(--border-width) solid var(--border-color);
      bottom: 0;
      right: 0;
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
      border-bottom-right-radius: 6px;
    }
  }

  @media screen and (max-width: 1280px) {
    transform: translateX(100vw);
    position: absolute;
    .nav_wrapper {
      height: 600px;
    }
  }
}

// The blur & canvas effect
body {
  &.mobile_active,
  &.mobile_inactive {
    transition: 300ms ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 200;
      transition: 300ms ease-in-out;
    }
  }

  &.mobile_active {
    &::after {
      animation: blurBg 300ms ease-out 1 forwards;
    }

    nav {
      animation: CanvasMenu 300ms ease-out 1 forwards;
      z-index: 1500;
    }
  }

  &.mobile_inactive {
    &::after {
      animation: removeBlur 300ms ease-out 1 forwards;
    }

    nav {
      @media screen and (max-width: 1280px) {
        animation: removeCanvas 300ms ease-out 1 forwards;
      }
    }
  }
}