@use "../../../../../styles/var.scss" as var;

.project_navigation {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  .nav_back {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    position: relative;
    p {
      position: absolute;
      bottom: 1.25rem;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 14px;
    }
  }
  a.pagination_btn {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
    &::visited {
      color: var.$primary;
    }
  }
  &.dark {
    a::visited {
      color: var.$primaryDark;
    }
  }
}
