.projectWrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: space-between;
  .project_navigation {
    display: flex;
    justify-content: center;
    a {
      margin: 0 1rem;
    }
  }
}
