@use "../../../styles/var.scss" as var;

.nav_menu {
  display: flex;
  @media screen and (max-width: 1280px) {
    justify-content: center;
    li {
      display: flex;
      justify-content: center;
      &:first-child {
        padding-top: var.$defaultPadding;
      }
      &:not(:first-child) {
        padding-top: 0.25rem;
      }
    }
  }
}
