@use "../../../styles/var.scss" as var;

.toggleIcon {
  width: 28px;
  height: 28px;
  @media screen and (max-width: 768px) {
    width: 22px;
    height: 22px;
  }
  cursor: pointer;
  .toggleIconInner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: var.$transition;
    width: 26px;
    height: 26px;
    @media screen and (max-width: 768px) {
      width: 22px;
      height: 22px;
    }
    background-color: var.$primary;
    svg {
      width: 1.2rem;
      height: 1.2rem;
      @media screen and (max-width: 768px) {
        width: 1rem;
        height: 1rem;
      }
      color: #fafafa;
      @media (hover: hover) {
        &:hover {
          color: #fafafa;
        }
      }
    }
    @media (hover: hover) {
      &:hover {
        width: 28px;
        height: 28px;
        background-color: var.$primaryHover;
        @media screen and (max-width: 768px) {
          width: 22px;
          height: 22px;
        }
      }
    }
    .sun,
    .moon {
      transition: var.$transition;
      opacity: 0;
      &.active {
        animation: setActive 1s ease 1 forwards;
      }
      @keyframes setActive {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  &.dark {
    .toggleIconInner {
      background-color: var.$primaryDark;
      @media (hover: hover) {
        &:hover {
          background-color: var.$primaryHoverDark;
        }
      }
      svg {
        color: #161616;
        @media (hover: hover) {
          &:hover {
            color: #161616;
          }
        }
      }
    }
  }
}
