.outer_wrapper {
  padding: 15vh max(10vw, 10rem) 10vh max(10vw, 10rem);
  min-height: 100vh;
  --body-font-size: 1.5rem;
  --html-font-size: 1.75rem;
  @media screen and (max-width: 768px) {
    padding: 20vh 5vw 10vh 5vw;
  }
  
}

.body_html,
.body_html_close {
  position: relative;
  opacity: 0.6;

  &::before,
  &::after {
    position: absolute;
  }
}

.body_html {
  &::before {
    content: '<html>';
    font-size: var(--html-font-size);
    top: -7rem;
    left: -1rem;
  }

  &::after {
    content: '<body>';
    font-size: var(--body-font-size);
    top: -4rem;
    left: 2rem;
  }
}

.body_html_close {
  bottom: 0;
  height: 1px;

  &::before {
    content: '</body>';
    font-size: var(--body-font-size);
    left: 2rem;
    bottom: -4rem;
  }

  &::after {
    content: '</html>';
    font-size: var(--html-font-size);
    bottom: -7rem;
    left: -1rem;
  }
}