:root {
  // Colors
  --defaultHeight: 80px;
  --content-nav-padding: 4rem;
  --backgroundColor: #000000;
  --defaultHeader: #fff;
  --card-bg: #fff;
  --border-width: 8px;

  --primary: #fff;
  --secondary: #fff;

  //--border-color: red;
  //--dev-bg-1: red;
  //--dev-bg-2: blue;
  //--dev-bg-3: limegreen;
  //--dev-bg-4: gray;

  --border-color: gray;
  --dev-bg-1: #000000;
  --dev-bg-2: #000000;
  --dev-bg-3: #000000;
  --dev-bg-4: #000000;
  // Fonts
  --header-font: "Coolvetica Condensed Rg";
  --text-font: "Helvetica Neue", "sans-serif";
}

::before,
::after {
  user-select: none;
}

body {
  overflow-x: hidden;
  // REMOVE WHEN COLORS ARE SET
  color: #fff;
}

@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/coolvetica condensed rg.ttf") format("ttf");
}

// <--------- Animations --------->
// Mobile toggle
@keyframes displayToggle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes topBarActive {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0.7rem);
  }
  100% {
    transform: translateY(0.65rem) rotate(-45deg);
  }
}

@keyframes bottomBarActive {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-0.7rem);
  }
  100% {
    transform: translateY(-0.65rem) rotate(45deg);
  }
}

@keyframes middleBarActive {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes topBar {
  0% {
    transform: translateY(0.65rem) rotate(-45deg);
  }
  30% {
    transform: translateY(0.7rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bottomBar {
  0% {
    transform: translateY(-0.65rem) rotate(45deg);
  }
  30% {
    transform: translateY(-0.7rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes middleBar {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Canvas menu
@keyframes CanvasMenu {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes removeCanvas {
  from {
    transform: translateX(calc(50vw - 150px)) translateY(10vh);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}

// Blur background when canvas menu is active
@keyframes blurBg {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
  }
}

@keyframes removeBlur {
  from {
    backdrop-filter: blur(3px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

//
//// General variables
//$primary-color: #ffd700;
//$bg-color: #022c43;
//$muted-text-clr: #444;
//$text-clr: #f8f8f8;
//
//html {
//  font-size: 62.5%;
//}
//
//body {
//  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
//  color: $text-clr;
//  background-color: #000000;
//  overflow: hidden;
//  display: block;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//
//  * {
//    padding: 0;
//    margin: 0;
//  }
//}
//
//h1, h2, h3, h4, h5, h6 {
//  font-family: var(--header-font);
//  color: $text-clr;
//}
//
//::before,
//::after {
//  font-family: var(--after-font);
//  color: $text-clr;
//  font-weight: 100;
//}
//
//input,
//textarea,
//a,
//p {
//  font-family: "Helvetica Neue", 'sans-serif';
//}
//
//a,
//p {
//  font-size: 1.5rem;
//}
