@use "../../../styles/var.scss" as var;

.nav {
  &_wrapper {
    // background-color: green;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: var.$pageContentHeight;
    width: min(250px, 100vw);
    padding: var.$defaultPadding;
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-image: url("../../../assets/lm_bg.png") 30%;
      height: 150px;
      width: 150px;
    }
    &::before {
      border-top: var.$borderWidth solid transparent;
      border-left: var.$borderWidth solid transparent;
      left: 0;
      top: var.$defaultHeight;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
    &::after {
      border-bottom: var.$borderWidth solid transparent;
      border-right: var.$borderWidth solid transparent;
      bottom: 0;
      right: 0;
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
  }
  &_body {
    padding-top: var.$defaultPadding;
  }
}
