@use "../../../styles/var.scss" as var;

.nav {
  &_wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    top: var.$defaultHeight;
    height: calc(var.$pageContentHeight - var.$defaultHeight);
    width: min(250px, 100vw);
    padding: var.$defaultPadding;
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-image: url("../../../assets/lm_bg.png") 30%;
      height: 150px;
      width: 150px;
      pointer-events: none;
    }
    &::before {
      border-top: var.$borderWidth solid transparent;
      border-left: var.$borderWidth solid transparent;
      left: 0;
      top: 0;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
    &::after {
      border-bottom: var.$borderWidth solid transparent;
      border-right: var.$borderWidth solid transparent;
      bottom: 0;
      right: 0;
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
    @media screen and (max-width: 1280px) {
      position: absolute;
      width: min(900px, 100vw);
      z-index: -10;
      &::before,
      &::after {
        border-image: none;
        height: 0;
        width: 0;
        border: none;
        clip-path: none;
      }
      &.active {
        display: flex;
      }
      .nav_body,
      .nav_footer {
        opacity: 0;
        transition: var.$transition;
        user-select: none;
        pointer-events: none;
      }
      &.active {
        opacity: 1;
        z-index: 1000;
        .nav_body,
        .nav_footer {
          opacity: 1;
          user-select: all;
          pointer-events: all;
        }
      }
      top: var.$defaultHeight;
      height: calc(var(--vh) - var.$defaultHeight);
    }
    @media screen and (max-width: 768px) {
      height: calc(var(--vh) - var.$defaultHeight);
    }
  }
}
