@use "../../../styles/var.scss" as var;

.logo_wrapper {
  display: flex;
  align-items: center;
  user-select: none;
  h3,
  h4 {
    font-family: var.$logoFont;
    letter-spacing: normal;
  }
  h3 {
    color: var.$primary;
    &:hover {
      color: var.$primary;
    }
  }
  h4 {
    color: var.$primaryHover;
    &:hover {
      color: var.$primaryHover;
    }
  }
  h4 {
    transform: translateY(-0.2rem);
  }

  &.dark {
    h3 {
      color: var.$primaryDark;
      &:hover {
        color: var.$primaryDark;
      }
    }
    h4 {
      color: var.$primaryHoverDark;
      &:hover {
        color: var.$primaryHoverDark;
      }
    }
  }
}
